<section class="container card" ng-controller="StaffListCtrl">
  <div class="table-responsive" data-snap-ignore="true">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Staff Type</th>
            <th>Roles</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in staff">
            <th scope="row">
                <img src="{{ s.image }}" style="width:25px; height:25px" class="img-circle"/>
            </th>
            <td>{{ s.name }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.phone }}</td>
            <td>{{ s.type }}</td>
            <td>{{ s.roles }}</td>
            <td>
              <button ng-click="edit(s)" >Edit</button>
              <button ng-click="changepassword(s)" style="color:#626262;">Change password</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <br/><br/><br/>
