<section>

    <div class="col-sm-12">
      <div class="form-group edna-form-group ">
        <label for="student_permanentaddress">Permanent Address</label>
        <input type="text" class="form-control" id="student_permanentaddress"  name="student_permanentaddress"  placeholder="John" ng-model="student.permanentaddress"/>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group edna-form-group ">
        <label for="student_country">Country</label>
        <select ng-model="student.country" ng-change="state(student.country)"><option ng-repeat="data in country" value="{{data.Country}}" >{{data.Country}}</option></select>
    </div>
    <div class="col-sm-4">
      <div class="form-group edna-form-group ">
        <label for="student_state">State</label>
        <select ng-model="student.state" ng-show="student.country == 'NG|Nigeria'" ng-change="lga(data.slug)"><option ng-repeat="data in stateList" value="{{data.State}}" >{{data.State}}</option></select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group edna-form-group ">
        <label for="student_state">LGA</label>
        <select ng-model="student.lga"><option ng-repeat="data in lgaList" value="{{data.Lga}}">{{data.Lga}}</option></select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group edna-form-group ">
        <label for="student_city">City</label>
        <input type="text" class="form-control" id="student_city"  name="student_city"  placeholder="Calabar" ng-model="student.city"/>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group edna-form-group ">
        <label for="student_phone">Phone</label>
        <input type="text" class="form-control" id="student_phone"  name="student_phone"  placeholder="2348098765432" ng-model="student.phone"/>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group edna-form-group ">
        <label for="student_email">Email</label>
        <input type="text" class="form-control" id="student_email"  name="student_email"  placeholder="john@example.com" ng-model="student.email"/>
      </div>
    </div>

    <div style="clear:both"></div>
    <br/>

    <button ng-disabled="$isLast()" class="btn btn-default pull-right" ng-click="$nextStep()">
        Next
        <span class="fa fa-chevron-right"></span>
    </button>
</section>
