
              <style>
                .edna-sub-nav .highlight>a{
                  background-color: transparent;
                  color:#000 !important;
                }
              </style>

              <div class="jumbotron" style="margin:0; background-color:#95CDB3; color:#000;">

                <div class="container">
                  <h1 style="text-align:center">Students Management</h1>
                </div>
              </div>

              <nav class="navbar navbar-default edna-sub-nav" style="height:auto">
                  <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <!-- Collect the nav links, forms, and other content for toggling
                    <div style="text-align:center; " class="nav-centered-group">-->

                      <ul class="nav navbar-nav " style="display:inline-block; margin:0;">



                        <li><a data-restrict access="admin" ui-sref="students.new"><i class="fa fa-plus"></i>&nbsp;<span>New Student</span></a></li>
                        <li><a data-restrict access="admin" ui-sref="students.list"><i class="fa fa-group"></i>&nbsp;<span>Students List</span></a></li>


                      <div style="clear:both"></div>
                      </ul>


                    <!--</div> /.navbar-collapse -->
                    <div style="clear:both"></div>
                  </div><!-- /.container-fluid -->
                  <div style="clear:both"></div>
                </nav>

              <section ui-view="students">

              </section>
