<div class="col-sm-6">
  <div class="form-group edna-form-group ">
    <label for="student_signupdate">Signup date</label>
    <md-datepicker ng-model="student.signupdate" md-placeholder="Enter date"></md-datepicker>

  </div>
</div>
<div class="col-sm-6">

  <div class="form-group edna-form-group "  >
    <label for="student_class">Class</label>
    <select class="form-control" ng-model="student.class">
      <option value="" >None</option>
      <option ng-repeat="c in classes">{{c.name}}</option>
    </select>
  </div>
</div>
<div style="clear:both"></div>
<br/>
  <button ng-disabled="$isLast()" class="btn btn-default pull-right" ng-click="$nextStep()">
      Next
      <span class="fa fa-chevron-right"></span>
  </button>
