<br/><br/>
<section class="container">
  <div>
   <!-- <h2>Dashboard</h2>-->
  </div>
  <br/>
  <div>
    <h2>Manage your school</h2>

<!--Admin items-->
    <div data-restrict access="admin">
      <hr/>
      <div class="col-sm-2" style="text-align:center;">
        <i class="fa fa-user-secret fa-border fa-circle fa-4x" style="color:#3A6F81;"></i>
      </div>
      <div class="col-sm-7">
        <h4><strong>Staff</strong></h4>
        <p>Add, manage, and assign roles to staff with ease...</p>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-default" ui-sref="staff.new" style="width:150px">Add a staff</a>
      </div>
    </div>

    <div style="clear:both"></div>

      <div data-restrict access="admin">
        <hr/>
        <div class="col-sm-2" style="text-align:center;">
          <span class="fa-stack fa-3x ">
            <i class="fa fa-circle fa-stack-2x" style="color:#F45750;"></i>
            <i class="fa fa-bookmark fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-sm-7">
          <h4><strong>Classes</strong></h4>
          <p>Create, manage, and assign classes to teachers, students, etc...</p>
        </div>
        <div class="col-sm-3">
          <a class="btn btn-default" ui-sref="class.new" style="width:150px">Create a Class</a>
        </div>
      </div>


      <div style="clear:both"></div>

        <div data-restrict access="admin">
          <hr/>
          <div class="col-sm-2" style="text-align:center;">
            <span class="fa-stack fa-3x ">
              <i class="fa fa-circle fa-stack-2x" style="color:#32526E;"></i>
              <i class="fa fa-book fa-stack-1x fa-inverse" ></i>
            </span>
          </div>
          <div class="col-sm-7">
            <h4><strong>Subjects</strong></h4>
            <p>Create, manage, and assign subjects to teachers ...</p>
          </div>
          <div class="col-sm-3">
            <a class="btn btn-default" ui-sref="class.subject_new" style="width:150px">Create a Subject</a>
          </div>
        </div>

          <div style="clear:both"></div>

          <div data-restrict access="admin">
            <hr/>
            <div class="col-sm-2" style="text-align:center;">
              <i class="fa fa-graduation-cap fa-border fa-circle fa-4x" style="color:#0F595E;"></i>
            </div>
            <div class="col-sm-7">
              <h4><strong>Students</strong></h4>
              <p>Add and manage students data, classes, etc...</p>
            </div>
            <div class="col-sm-3">
              <a class="btn btn-default" ui-sref="students.new" style="width:150px">Add a student</a>
            </div>
          </div>


          <div style="clear:both"></div>

            <div data-restrict access="admin">
              <hr/>
              <div class="col-sm-2" style="text-align:center;">
                  <span class="fa-stack fa-3x ">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="col-sm-7">
                <h4><strong>Settings</strong></h4>
                <p>Manage session Info, and institution details at the start of each session...</p>
              </div>
              <div class="col-sm-3">
                <a class="btn btn-default" ui-sref="settings_session" style="width:150px">Session settings</a>
              </div>
            </div>

          <!-- End Admin items -->

          <!--Teacher Items-->
          <div data-restrict access="teacher">
            <hr/>
            <div class="col-sm-2" style="text-align:center;">
              <span class="fa-stack fa-3x ">
                <i class="fa fa-circle fa-stack-2x" style="color:#F45750;"></i>
                <i class="fa fa-bookmark fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-sm-7">
              <h4><strong>Classes</strong></h4>
              <p>Manage all classess assigned to you. Manage class reports, students, etc..</p>
            </div>
            <div class="col-sm-3">
              <a class="btn btn-default" ui-sref="teacher_list" style="width:150px">Assigned Classes</a>
            </div>
          </div>
          <div style="clear:both"></div>
          <div data-restrict access="teacher">
            <hr/>
            <div class="col-sm-2" style="text-align:center;">
              <span class="fa-stack fa-3x ">
                <i class="fa fa-circle fa-stack-2x" style="color:#32526E;"></i>
                <i class="fa fa-book fa-stack-1x fa-inverse" ></i>
              </span>
            </div>
            <div class="col-sm-7">
              <h4><strong>Subjects</strong></h4>
              <p>Manage all subjects assigned to you. Create and score assesments, etc...</p>
            </div>
            <div class="col-sm-3">
              <a class="btn btn-default" ui-sref="teacher_list" style="width:150px">Assigned Subjects</a>
            </div>
          </div>
          <!-- End Teacher items -->
  </div>


</section>
