<br/><br/>
<section class="container">
  <div>
    <h2>Dashboard</h2>
  </div>
  <br/>
  <div>
    <h3>Get Started</h3>
    <hr/>
    <div>
      <div class="col-sm-2" style="text-align:center;">
        <i class="fa fa-adn fa-border fa-circle fa-4x"></i>
      </div>
      <div class="col-sm-7">
        <h4><strong>Classes</strong></h4>
        <p>Create, manage, and assign classes to teachers, students, etc...<a href="#">learn more...</a></p>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-default">Create a Class</a>
      </div>
    </div>

    <div style="clear:both"></div>
      <hr/>
      <div>
        <div class="col-sm-2" style="text-align:center;">
          <span class="fa-stack fa-3x ">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-sm-7">
          <h4><strong>Classes</strong></h4>
          <p>Create, manage, and assign classes to teachers, students, etc...<a href="#">learn more...</a></p>
        </div>
        <div class="col-sm-3">
          <a class="btn btn-default">Create a Class</a>
        </div>
      </div>
  </div>

</section>
