<section class="container" style="background-color:#fff; padding-top:20px;padding-bottom:20px;" ng-controller="StudentListCtrl">
  <div class="table-responsive" data-snap-ignore="true">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Class</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in students">
            <th scope="row">
                <img src="{{ s.image }}" style="width:25px; height:25px" class="img-circle"/>
            </th>
            <td>{{ s.lastname }}</td>
            <td>{{ s.firstname }}</td>
            <td>{{ s.middlename }}</td>
            <td>{{ s.class }}</td>
            <td>
              <button ng-click="edit(s)" >Edit</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <br/><br/><br/>
