<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!--<link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">-->


        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/snap.css">
        <link rel="stylesheet" href="css/perfect-scrollbar.min.css">
        <link rel="stylesheet" href="css/angular-ui-notification.min.css">

        <style>

        </style>
        <!--<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>-->
    </head>
    <body >
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<style>

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    opacity: 1;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #fff;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }

    .loaded{
      opacity:0 !important;
      -webkit-transition: all 0.7s ease-out;
              transition: all 0.7s ease-out;

      display:none;
    }
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }


</style>

        <div id="loader-wrapper">
            <div id="loader"></div>

            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

        </div>


<section ng-app="edna" ng-controller="RootCtrl as root" ui-view="body" >

        <div class="snap-drawers">
                    <div class="snap-drawer snap-drawer-left page-sidebar" id="leftMenu">


                      <div class="sidebar-menu sidebar-overlay-slide from-top" id="appOverlayMenu">


                          <div class="menu-items" >
                            <h4 style="color:#788195; padding-bottom:20px;"> Modules Settings</h4>
                            <ul class="menu-items " >
                              <li class="m-t-30 ">
                              <a href="index.html" class="detailed side-a">
                              <span class="title">Students</span>
                              </a>

                              <a class="icon-thumbnail b-danger pull-right"><i class="fa fa-home"></i></a>

                              </li>
                              <br/>

                              <!-- HIDE add addon button
                              <li class="m-t-30 ">
                                <a href="index.html" class="detailed side-a" style="width:100%; ">
                                  <span class="title" style="border:1px solid #788195; padding:5px 10px;"> <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp; Add Addon</span>
                                </a>
                              </li>
                            -->

                            </ul>
                            <div class="clearfix"></div>
                          </div>

                      </div>


                      <div class="sidebar-header">
                      <img src="img/edna-md.png" alt="logo" class="brand"  width="78" height="22" style="cursor: pointer; cursor: hand;" onclick="if(document.getElementById('appOverlayMenu').style.top != '-100%' ){ document.getElementById('appOverlayMenu').style.top = '-100%';}else{document.getElementById('appOverlayMenu').style.top = '0';};">
                      <div class="sidebar-header-controls">
                      <button type="button" class="side-a btn btn-xs sidebar-slide-toggle btn-link m-l-20" onclick="if(document.getElementById('appOverlayMenu').style.top != '-100%' ){ document.getElementById('appOverlayMenu').style.top = '-100%';}else{document.getElementById('appOverlayMenu').style.top = '0';};"><i class="fa fa-angle-down fs-16"></i>
                      </button>
                      </div>
                      </div>


                      <div class="sidebar-menu sidebar-calc-height">

                      <div class="scroll-wrapper menu-items" style="position: relative; padding-top:30px;">
                        <ul class="menu-items scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 618px;">

                    <section ng-repeat="x in $root.addons" >
                      <li class="menu-items-li"   data-restrict access="{{x.roles}}">

                            <a ng-if="!x.nested" ui-sref="{{x.state}}" class="detailed side-a">
                              <span class="title">{{x.name}}</span>
                            </a>

                            <a ng-if="!x.nested" class="icon-thumbnail  pull-right" ui-sref="{{x.state}}"  ng-bind-html="x.thumbnail"></a>

                          <a ng-if="x.nested" class="side-a" href="javascript:;" ng-click="root.dropExpand('sideNav'+x.id)">
                            <span class="title">{{x.name}}</span>
                            <span class=" arrow"></span>
                          </a>
                          <a ng-if="x.nested" class="icon-thumbnail" ng-click="root.dropExpand('sideNav'+x.id)" ng-bind-html="x.thumbnail"></a>
                          <ul ng-if="x.nested" class="sub-menu" id="sideNav{{x.id}}">
                            <li class="" ng-repeat="y in x.children">
                              <a class="side-a" ui-sref="{{y.state}}">{{y.name}}</a>
                              <a class="icon-thumbnail pull-right" ui-sref="{{y.state}}" ng-bind-html="y.thumbnail">  </a>
                              <div style="clear:both"></div>
                            </li>

                          </ul>

                      </li>

</section>
                      </ul>
                      <div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 89px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 406px; top: 0px;"></div></div></div></div>
                      <div class="clearfix"></div>
                      </div>

                    </div>

                    <style>
                      .snap-drawer-right{
                        background-color: #FAFAFA;
                      }
                      .quickview-nav, .quickview-nav a{
                          background-color:#2B303B;
                          color:#aaa;
                      }


                      .quickview-nav>li.active>a, .quickview-nav>li.active>a:hover, .quickview-nav>li.active>a:focus {
                        background-color:transparent;
                        color:#fafafa;
                        border:none;
                      }

                      .quickview-nav>li>a, .quickview-nav>li>a:hover, .quickview-nav>li>a:focus {
                        background-color:transparent;
                        color:#ccc;
                        border:none;
                      }

                      .view a{
                        color:#aaa;
                      }
                    </style>
                    <div id="quickview"  class="snap-drawer snap-drawer-right quickview-wrapper ">

                      	<ul class="nav nav-tabs quickview-nav" style="">
                      		<li class="active">
                      			<a href="#quickview-alerts" data-toggle="tab" aria-expanded="true">Notifications</a>
                      		</li>
                      		<li class="">
                      			<a href="#quickview-chat" data-toggle="tab" aria-expanded="false">Messaging</a>
                      		</li>
                      	</ul>
                      	<div class="tab-content">

                      		<div class="tab-pane fade no-padding active in" id="quickview-alerts">
                      			<div class="view-port clearfix" id="alerts">
                      				<div class="view" style="background-color:#fff">
                      					<div style="border:1px solid #e7e7e7;">
                      						<div style="padding:10px 5px; text-align:center">
                      							<a class="pull-left">
                      							<i class="fa fa-ellipsis-h"></i>
                      							</a>
                      							<span>
                      								Notications
                      							</span>
                      							<a href="#" class="pull-right">
                      							<i class="fa fa-search"></i>
                      							</a>
                      						</div>
                      					</div>
                      					<div class="list-view " style="background-color:#FAFAFA; ">
                                  <br/>
                      						<h2 style="font-size:14px; margin:0; padding:5px 10px; font-weight:700;">
                      							Notifications Group 1
                      						</h2>
                      						<div style="padding:2px;">
                                      <div class="list-group">
                                        <div class="list-group-item alert alert-dismissible fade in" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <h4>Oh snap! You got an error!</h4>
                                          <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                                          <div style="clear:both"></div>
                                        </div>

                                        <div class="list-group-item alert alert-dismissible fade in" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <h4>Oh snap! You got an error!</h4>
                                          <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                                          <div style="clear:both"></div>
                                        </div>

                                        <div class="list-group-item alert alert-dismissible fade in" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <h4>Oh snap! You got an error!</h4>
                                          <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                                          <div style="clear:both"></div>
                                        </div>
                                      </div>

                      						</div>

                                  <h2 style="font-size:14px; margin:0; padding:5px 10px; font-weight:700;">
                                    Notifications Group 1
                                  </h2>
                                  <div style="padding:2px;">
                                      <div class="list-group">
                                        <div class="list-group-item alert alert-dismissible fade in" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <h4>Oh snap! You got an error!</h4>
                                          <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                                          <div style="clear:both"></div>
                                        </div>

                                        <div class="list-group-item alert alert-dismissible fade in" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <h4>Oh snap! You got an error!</h4>
                                          <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                                          <div style="clear:both"></div>
                                        </div>
                                      </div>

                                  </div>
                      					</div>
                      				</div>
                      			</div>
                      		</div>
                      		<div class="tab-pane fade no-padding" id="quickview-chat">
                      			<div class="view-port clearfix" id="chat">
                      				<div class="view " style="">

                                <div style="border:1px solid #e7e7e7;">
                      						<div style="padding:10px 5px; text-align:center">
                      							<a class="pull-left">
                      							<i class="fa fa-plus"></i>
                      							</a>
                      							<span>
                                      Chat List
                      								<small>Show All</small>
                      							</span>
                      							<a href="#" class="pull-right">
                      							<i class="fa fa-ellipsis-h"></i>
                      							</a>
                      						</div>
                      					</div>
                      					<div class="list-view " style="background-color:#FAFAFA; ">
                      						<h2 style="font-size:14px; margin:0; padding:5px 10px; font-weight:700;">
                      							Misc
                      						</h2>
                                  <div style="padding:2px;">
                                    <div class="media" style="background-color:#fff; border:1px solid #eee; padding:10px 3px; margin:0;" >
                                      <div class="media-left">
                                        <a href="#" class="">
                                          <i class="img-circle icon-thumbnail">AP</i>
                                        </a>
                                      </div>
                                      <div class="media-body">
                                        <h4 class="media-heading">All Parents</h4>

                                      </div>
                                    </div>
                                    <div class="media" style="background-color:#fff; border:1px solid #eee; padding:10px 3px; margin:0;">
                                      <div class="media-left">
                                        <a href="#" class="img-circle">
                                          <i class=" img-circle icon-thumbnail">AS</i>
                                        </a>
                                      </div>
                                      <div class="media-body">
                                        <h4 class="media-heading">All Staff</h4>

                                      </div>
                                    </div>

                                  </div>

                                  <h2 style="font-size:14px; margin:0; padding:5px 10px; font-weight:700;">
                                    A
                                  </h2>
                                  <div style="padding:2px;">
                                    <div class="media" style="background-color:#fff; border:1px solid #eee; padding:10px 3px; margin:0;" >
                                      <div class="media-left">
                                        <a href="#">
                                          <img style="height:40px; width:40px; " class="media-object  img-circle" src="img/avatar5.png" alt="...">
                                        </a>
                                      </div>
                                      <div class="media-body">
                                        <h4 class="media-heading">Anthony Alaribe</h4>
                                        hello there
                                      </div>
                                    </div>
                                    <div class="media" style="background-color:#fff; border:1px solid #eee; padding:10px 3px; margin:0;">
                                      <div class="media-left">
                                        <a href="#">
                                          <img style="height:40px; width:40px; " class="media-object  img-circle" src="img/avatar2.jpg" alt="...">
                                        </a>
                                      </div>
                                      <div class="media-body">
                                        <h4 class="media-heading">Anthony ccAlaribe</h4>
                                        hello thdddddddere
                                      </div>
                                    </div>

                                  </div>
                                  <h2 style="font-size:14px; margin:0; padding:5px 10px; font-weight:700;">
                      							B
                      						</h2>
                                  <div style="padding:2px;">
                                    <div class="media" style="background-color:#fff; border:1px solid #eee; padding:10px 3px; margin:0;" >
                                      <div class="media-left">
                                        <a href="#">
                                          <img style="height:40px; width:40px; " class="media-object  img-circle" src="img/avatar5.png" alt="...">
                                        </a>
                                      </div>
                                      <div class="media-body">
                                        <h4 class="media-heading">BAnthony Alaribe</h4>
                                        hello there
                                      </div>
                                    </div>
                                    <div class="media" style="background-color:#fff; border:1px solid #eee; padding:10px 3px; margin:0;">
                                      <div class="media-left">
                                        <a href="#">
                                          <img style="height:40px; width:40px; " class="media-object  img-circle" src="img/avatar2.jpg" alt="...">
                                        </a>
                                      </div>
                                      <div class="media-body">
                                        <h4 class="media-heading">BAnthony ccAlaribe</h4>
                                        hello thdddddddere
                                      </div>
                                    </div>

                                  </div>


                      					</div>
                      				</div>
                      				<div class="view chat-view  clearfix"  style="display:none;">
                                <div style="border:1px solid #e7e7e7;">
                      						<div style="padding:10px 5px; text-align:center">
                      							<a class="pull-left">
                      							<i class="fa fa-chevron-left"></i>
                      							</a>
                      							<span>
                                      Chat List
                      								<small>Show All</small>
                      							</span>
                      							<a href="#" class="pull-right">
                      							<i class="fa fa-ellipsis-h"></i>
                      							</a>
                      						</div>
                      					</div>
                      					<div class="chat-inner" id="my-conversation" >
                      						<div class="message clearfix">
                      							<div class="chat-bubble from-me">
                      								Hello there
                      							</div>
                      						</div>
                      						<div class="message clearfix">
                      							<div class="inline">
                      								<img class="img-circle" width="30" height="30" src="img/avatar.png" alt="" >
                      							</div>
                      							<div class="chat-bubble from-them">
                      								Hey
                      							</div>
                      						</div>
                      						<div class="message clearfix">
                      							<div class="chat-bubble from-me">
                      								Did you check out  Edna?
                      							</div>
                      						</div>
                      						<div class="message clearfix">
                      							<div class="chat-bubble from-me">
                      								Its an awesome app
                      							</div>
                      						</div>
                      						<div class="message clearfix">
                      							<div class="inline">
                      								<img class="img-circle" width="30" height="30" src="img/avatar5.png" >
                      							</div>
                      							<div class="chat-bubble from-them">
                      								Yea
                      							</div>
                      						</div>
                      					</div>
                                <br/>
                      					<div class=" chat-box clearfix" style="background-color:#fff; border-top:1px solid #eee;" class="chat-box">
                      						<div class="row" style="padding:1px;">

                      							<div class="col-xs-9 ">
                      								<input type="text" class="form-control input-lg chat-input" placeholder="Say something" />
                      							</div>
                      							<div class="col-xs-2 chat-send ">
                      								<a href="#" class=""><i class="fa fa-2x fa-send"></i></a>
                      							</div>
                      						</div>
                                  <div style="clear:both"></div>
                      					</div>
                      				</div>
                      			</div>
                      		</div>
                      	</div>
                    </div>
                </div>

                <div id="content" class="snap-content">
                  <section>

                    <style>

                    </style>

                    <nav class="navbar navbar-default navbar-fixed-top edna-nav">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header" style="display:inline-block;">
                        <a class="navbar-brand" id="navicon" aria-expanded="false" >
                          <span class="sr-only">Toggle navigation</span>
                          <span class="fa fa-align-right"></span>
                        </a>
                        <a class="navbar-brand" id="navimage">
                            <img alt="Edna" src="img/edna-black.png" class="edna-nav-logo" style="cursor: pointer; cursor: hand;"/>
                        </a>
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling
                      <div style="text-align:center; " class="nav-centered-group">-->

                        <ul class="nav navbar-nav pull-right navbar-right" style="display:inline-block; margin:0;">

                          <!--<li class="navbar-form" style="padding:10px; margin:0; ">
                            <div class="input-group nav-search" style="width:auto; display:inline-table;" >
                                <div class="input-group-addon " style="width:auto;"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control hidden-xs" style="width:200px;" placeholder="Type to Search">
                             </div>
                          </li>-->
                          <li class="dropdown">
                            <a onclick="dropExpandInline('nav-dropdown')" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding:5px;">
                              <span class="hidden-xs" ng-bind="$root.user.name"></span> <img src="{{ $root.user.image || 'img/avatar.png' }}" class=" img-circle img-thumbnail edna-nav-avatar" /> <span class="caret"></span></a>
                            <ul class="dropdown-menu" id="nav-dropdown">
                              <li><a ui-sref="staff_settings"><i class="fa fa-gears "></i>&nbsp;&nbsp;Settings</a></li>
                              <li><a href="#"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;Help</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a style="cursor: pointer; cursor: hand;" ng-click="root.logout()">Logout<i class=" pull-right fa fa-power-off"></i></a></li>
                            </ul>
                          </li>
                          <li style="cursor: pointer; cursor: hand; display:none;">
                            <a class="" id="rightNavToggle" aria-expanded="false" style="margin-left:10px;">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="fa fa-align-left" style="font-size:1.2em"></span>
                            </a>
                          </li>
                          <div style="clear:both"></div>
                        </ul>


                      <!--</div> /.navbar-collapse -->
                      <div style="clear:both"></div>
                    </div><!-- /.container-fluid -->
                    <div style="clear:both"></div>
                    </nav>

                </section>
                  <section ui-view="content">

                  </section>
                  <br/><br/>

                </div>

                <script>

                console.log("about initializing")


                function showNav(){
                  snapper.open('left');
                }



                function myOnLoadEvent(func) {
                    // assign any pre-defined functions on 'window.onload' to a variable
                    var oldOnLoad = window.onload;
                    // if there is not any function hooked to it
                    if (typeof window.onload != 'function') {
                        // you can hook your function with it
                        window.onload = func
                    } else { // someone already hooked a function
                        window.onload = function () {
                            // call the function hooked already
                            oldOnLoad();
                            // call your awesome function
                            func();
                        }
                    }
                }

                initer = function(){

                  document.getElementById('appOverlayMenu').style.top = '-100%';

                  var snapper = new Snap({
                    element: document.getElementById('content'),
                    disable: 'right',
                  });


                  document.getElementById('navicon').addEventListener('click', function(){
                      console.log("snap");
                      if( snapper.state().state=="left" ){
                          snapper.close();
                      } else {
                          snapper.open('left');
                      }
                  });

                  document.getElementById('navimage').addEventListener('click', function(){
                      console.log("snap");
                      if( snapper.state().state=="left" ){
                          snapper.close();
                      } else {
                          snapper.open('left');
                      }

                  });

                  document.getElementById('rightNavToggle').addEventListener('click', function(){
                      console.log("snap");
                      if( snapper.state().state=="right" ){
                          snapper.close();
                      } else {
                          snapper.open('right');
                      }
                  });


                  var container = document.getElementById('leftMenu');
                  Ps.initialize(container);


                }

                // pass the function you want to call at 'window.onload', in the function defined above
                myOnLoadEvent(function(){
                    // your awesome code to run on window.onload
                    //document.getElementById('navimage').addEventListener('click', function(){
                    //    console.log("snap");
                    //});
                    //console.log("window loaded");


                    initer();


                });

                </script>

              </section>
  <!--      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
-->
        <!--<script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
-->
        <script src="js/perfect-scrollbar.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-ui-router.min.js"></script>
        <script src="js/angular-multi-step-form.min.js"></script>
        <script src="js/snap.min.js"></script>
        <script src="js/angular-ui-notification.min.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
