<section  ng-controller="TeacherAssignedToCtrl">
<div class="jumbotron" style="margin:0; background-color:#FE6A56; color:#000;">

  <div class="container">
    <br/><br/>
    <h1 style="text-align:center">Subjects Assigned to You</h1>
    <br/><br/>
  </div>
</div>

  <div class="container">
    <a class="col-sm-6 col-md-4 " style="padding-top:20px;padding-bottom:20px;" ng-repeat="x in AsSubjectTeacher" ui-sref="subjectTeacher.overview({id: x.id, class: x.class })" >
      <div style="background-color:#fff; color:#000; padding:20px;" class="card box">
        <strong>Type</strong> Subject Teacher<br/>
        <strong>Subject:</strong> {{x.name}}<br/>
        <strong>Class:</strong> {{x.class}}<br/>
      </div>
    </a>
  </div>


<div style="clear:both"></div>
<br/><br/><br/><br/>
    <div class="jumbotron" style="margin:0; background-color:#32526E; color:#000;">

      <div class="container">
        <br/><br/>
        <h1 style="text-align:center">Classes Assigned to You</h1>
        <br/><br/>
      </div>
    </div>
      <div class="container">
          <a class="col-sm-6 col-md-4 " style="padding-top:20px;padding-bottom:20px;" ng-repeat="x in AsClassTeacher" ui-sref="classTeacher.overview({id: x.name})">
            <div style="background-color:#fff; color:#000; padding:20px;" class="card box">
              <strong>Type</strong> Class Teacher<br/>
              <span>Class Name: {{x.name}}</span><br/>
              <!--<span>Population: 22</span><br/>-->
            </div>
          </a>
      </div>
  </section>
  <br/><br/><br/>
