<section class="container" style="" ng-controller="EditSubjectCtrl">


  <div style="padding:20px;">
    <h3>Assessments</h3>
    <ol>
      <li></li>
    </ol>

    <div>
      <div class="form-group edna-form-group ">
        <label for="assessment_name">Assessment Name</label>
        <input type="text" class="form-control" id="assessment_name"  name="assessment_name"  placeholder="First Test" ng-model="assessment.name"/>
      </div>
      <div class="form-group edna-form-group ">
        <label for="assessment_upper_limit">Upper Limit</label>
        <input type="text" class="form-control" id="assessment_upper_limit"  name="assessment_upper_limit"  placeholder="100" ng-model="assessment.upper_limit"/>
      </div>
      <div class="form-group edna-form-group ">
        <label for="assessment_percentage">Percentage of Total Assessment (%)</label>
        <input type="text" class="form-control" id="assessment_upper_limit"  name="assessment_upper_limit"  placeholder="20" ng-model="assessment.upper_limit"/>
      </div>
      <button >Add Assessment</button>
    </div>
  </div>

  <form method="post">
    <h3>New Subject</h3>
      <br/>
    <div class="form-group edna-form-group ">
      <label for="subject_name">Subject Name</label>
      <input type="text" class="form-control" id="subject_name"  name="subject_name"  placeholder="JSS 1 Maths" ng-model="subject.name"/>
    </div>
    <div class="form-group edna-form-group "  style="width:49%; display:inline-block">
      <label for="parent_class">Parent Class</label>
      <select class="form-control" id="parent_class" ng-model="subject.parent">
        <option>None</option>
        <option ng-repeat="c in classes">{{c.name}}</option>
      </select>
    </div>

    <div class="form-group edna-form-group "  style="width:49%; display:inline-block">
      <label for="subject_teacher">Subject Teacher</label>
      <select class="form-control" id="subject_teacher" ng-model="subject.teachers[0]" >
        <option ng-repeat="t in teachers" value="{{t.id}}">{{t.name}}</option>
      </select>
    </div>


    <br/>
    <button type="submit" class="btn register-btn" style="padding: 8px 30px;"  ng-click="editsubject(subject)">Submit</button>
  </form>

  </section>
<br/><br/><br/>
