<section class="container" style="background-color:#fff; padding-top:20px;padding-bottom:20px;" ng-controller="SubjectListCtrl">
  <div class="table-responsive" data-snap-ignore="true">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Parent Class</th>
            <th>Class Teachers</th>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(i, s) in subjects">
            <th scope="row">
              {{ i }}
            </th>
            <td>{{ s.name }}</td>
            <td>{{ s.parent }}</td>
            <td><span ng-repeat="t in s.teachers" > {{t.name}}; </span></td>
            <td>
              <button ng-click="edit(s)">Edit</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <br/><br/><br/>
